.elementor-61 .elementor-element.elementor-element-499c12e>.elementor-container {
    max-width: 1190px;
}

.elementor-61 .elementor-element.elementor-element-499c12e:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-499c12e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #11161E;
}

.elementor-61 .elementor-element.elementor-element-499c12e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-61 .elementor-element.elementor-element-499c12e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-57188fc {
        width: 33.33%;
    }

    .elementor-61 .elementor-element.elementor-element-eff7704 {
        width: 33.33%;
    }

    .elementor-61 .elementor-element.elementor-element-f24c3b6 {
        width: 33.33%;
    }

    .elementor-61 .elementor-element.elementor-element-f5e9ca4 {
        width: 33.33%;
    }

    .elementor-61 .elementor-element.elementor-element-2ea017c {
        width: 33.33%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-57188fc {
        width: 100%;
    }

    .elementor-61 .elementor-element.elementor-element-eff7704 {
        width: 100%;
    }

    .elementor-61 .elementor-element.elementor-element-f24c3b6 {
        width: 100%;
    }

    .elementor-61 .elementor-element.elementor-element-f5e9ca4 {
        width: 100%;
    }

    .elementor-61 .elementor-element.elementor-element-2ea017c {
        width: 100%;
    }
}